@import "tailwindcss";

@theme {
  --color-deep-indigo: #2A1E5C; 
  --color-dark-purple: #270C36; 
  --color-rose-red: #EE4266;
  --color-royal-purple: #7806BA;
  --color-soft-magenta: #C856BC;
  --color-muted-blue: #9CB1CA;
  --color-pale-blue: #B9C9DA;
  --color-off-white: #F8F9FB;
}

:root {
  --background: var(--color-off-white);
  --foreground: var(--color-dark-purple);
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-deep-indigo);
    --foreground: var(--color-off-white);
  }
}*/

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-opensans), sans-serif;
}

.icon-gradient {
  background: linear-gradient(to bottom right, #ff7c7c, #6a0dad);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.bg-gradient {
  background: linear-gradient(165deg, var(--color-rose-red) 6%, var(--color-royal-purple) 15%, var(--color-royal-purple) 45%, var(--color-deep-indigo) 60%);
}

.text-glow {
  text-shadow: 0px 0px 30px #C856BC;
}

.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, -8px); }
    to   { transform: translate(0, -0px); }    
}

.container {
  margin: auto;
  max-width: 1200px;
  padding-right: 2rem;
  padding-left: 2rem;
}

@media only screen and (max-width: 600px) {
  .container {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}