@import "tailwindcss";

@theme {
  --color-deep-indigo: #2A1E5C; 
  --color-dark-purple: #270C36; 
  --color-rose-red: #EE4266;
  --color-royal-purple: #7806BA;
  --color-soft-magenta: #C856BC;
  --color-muted-blue: #9CB1CA;
  --color-pale-blue: #B9C9DA;
  --color-off-white: #F8F9FB;
}

:root {
  --background: var(--color-off-white);
  --foreground: var(--color-dark-purple);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-doop-indigo);
    --foreground: var(--color-off-white);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-family: var(--font-opensans), sans-serif;
}

.icon-gradient {
  background: linear-gradient(to bottom right, #ff7c7c, #6a0dad);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.bg-gradient {
  background: linear-gradient(165deg, var(--color-rose-red) 6%, var(--color-royal-purple) 15%, var(--color-royal-purple) 45%, var(--color-deep-indigo) 60%);
}

.text-glow {
  text-shadow: 0px 0px 30px #C856BC;
}

.container {
  margin: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}